body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#familieDiv{
    display: none;
}

#vennerDiv{
    display: none;
}

#aleneDiv{
    display: none;
}

#content{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

#innerBody{
    background-color: bisque;
    padding: 40px;
    text-align: left;
    width: auto;
    min-width: 300px;
    margin: 100px;
    margin-top: -2%;
    font-size: 16px;
}

#lokasjon{
    margin-right: 40px;
    margin-top: -2%;
    position: relative;
}

#lokasjon>h2{
    position: absolute;
    top: -60px;
    color: white;
}

#tittelbildet{
    width: 40%;
}
.valgdiv>input{
    border: none;
    border-radius: 4px;
    height: 20px;
    width: 100%;
    
}

button{
    padding: 3%;
    border: none;
    background-color: #a586b1;
    color: white;
}

button:hover{
    background-color: #514655;
}






