body{
    text-align: center;
    font-family: Helvetica, arial, verdana; 
}

#om_oss_tittelbilde{
    height: 230px;
    width: auto;
}

#om_oss_main{
    display: flex;
}

#om_oss_content{
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
    flex-direction: column;
}
#om_oss_inner_body{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 40px;
    text-align: left;
    width: auto;
    min-width: 400px;
    max-width: 400px;
    margin: 40px;
    margin-top: 0%;
    font-size: 18px;
}

#prog {
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-left: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: whitesmoke;
}

#mainSlide {
    height: 470px;
    width: 590px;
    background-color: inherit;
    margin-top: 50px;
    margin: 120px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px 20px #1c2333;
}

#fadeElement {
    height: 470px;
    width: 100%;
    background-color: inherit;
    border-radius: 10px;
}