body{
    background-color: #1a2539;
    background-image: url("../images/operahall.png");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.content{
   display: flex;
   justify-content: center;
   width: 100%;
   position: relative;
   margin-top: 7%;
   
}

.bilder{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner{
    width: 100%;
    animation: fadein ease-in 1.5s;
}

#logo{
    width: 50%;
    animation: fadein ease-in 1s;
}


a{ 
    padding-right: 2%;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    color: #1a2539;
}

#text{
    position: absolute;
    top: 68%;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    animation: fadein ease-in 2s;
    
}
 