:root {
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #795f80;
  color: rgba(255, 255, 255, 0.87);
  background-color: #9e7bb5;
}

a:hover {
  color: #765561;
}

body {
  background-color: #9e7bb5;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f7cfec;
}

::-webkit-scrollbar-thumb {
  background: #c8a0ca;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
