#displayBox {
  text-align: center;
  width: fit-content;
  overflow-y: scroll;
  height: 48rem;
  width: 60vw;
  border: 0.1vh solid white;
}

#recipesBox a {
  text-decoration: none;
  color: white;
}

#recipesBox {
  max-width: 1200px;
  justify-content: space-between;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  font-size: small;
}

#filters {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
  padding: 10vh;
}

.filterList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 27vh;
  align-items: center;
  overflow-y: scroll;
}

.filterChoices{
  width: 15rem;
  background-color: white;
}

.ingredientLabel{
  width: 15rem;
}
.filterList button:hover {
  background-color: #ecb864;
}

.filterList label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px;
  border-radius: 20px;
}

.filterList label:hover {
  background-color: #f39c12;
}

.filterList label:focus {
  background-color: #f39c12;
}

.filterList input[type='checkbox'] {
  margin-right: 10px;
}

.filterList input[type='checkbox']:checked {
    background-color: #f39c12;
    color: #f39c12;
  }

.filterList input[type='checkbox']:focus {
    background-color: #f39c12;
  }
.filterChoices:hover {
  background-color: #f39c12;
}
.filterChoices:focus {
  background-color: #f39c12;
}
.buttonList{
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 27vh;
  align-items: center;
  overflow-y: hidden;
}


.filterList img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}
.filterList button {
overflow: hidden;

}

#ingredientScroll {
  overflow-y: scroll;
}

#allRecipeSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 600px) {
  #allRecipeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  #recipesBox {
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    font-size: small;
  }

  #filters {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 7vh;
    align-items: center;
  }

  #filters a {
    padding: 5vh;
  }

  .filterList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20vh;
    align-items: center;
    overflow-y: scroll;
    text-align: center;
    padding: 3vh;
  }
}
