#displayBox {
  margin: auto;
  padding: 1rem;
  text-align: center;
  width: fit-content;
  overflow-y: scroll;
  height: 40rem;
  margin-top: -40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#displayBox div{
  background-color: #9e7bb5;
}

#recipesBox a{
  text-decoration: none;
  color: white;
}

#recipesBox {
  max-width: 1200px;
  justify-content: space-between;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  font-size: small;
}

#filterSection{
  display: flex;
  width: 200px;
  padding: 10px;
}

#filterList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: none;
}

#filterList button:hover{
  background-color: #e4ba76;
  transition: 0.1s ease-in;
}

#filterList button:active{
  background-color: #f39c12;
}

#filterList button:focus {
  background-color: #f39c12;
}

#ingredientFilter {
  width: 200px; 
  padding: 10px;
}

#ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

#ingredientsList label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #8b6b6b; 
  border-radius: 20px;
}

#ingredientsList label:hover{
  background-color: #f39c12;
  transition: 0.3s ease-in;
} 

#ingredientsList input[type="checkbox"] {
  margin-right: 10px; 
}

#ingredientsList input[type="checkbox"]:checked { 
  label{
    background-color: #f39c12;
  } 
}

#ingredientsList input[type="checkbox"]:focus { 
  label{
    background-color: #f39c12;
  } 
}

#ingredientsList img {
  width: 40px; 
  height: auto;
  margin-left: 10px; 
}

#displayIngredientsBox{
  padding: 1rem;
  text-align: center;
  width: fit-content;
  overflow-y: scroll;
  height: 17rem;
}



